#progress_label{
	font-family: verdana;
	fill: gray;
	font-size: 20px;
	transform: translate(0px,25px);
}

#progress_number{
	font-family: verdana;
	fill: black;
	font-size: 36px;
}


.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 25%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}